In [412]:
import pandas as pd
from datetime import date
import re

In [42]:
df = pd.read_csv('data/glassdoor_jobs.csv')

## explore the data

In [43]:
df.shape

(956, 15)

In [44]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [45]:
# count missing value occurrences
df[(df == '-1') | (df == -1)].count()

Unnamed: 0             0
Job Title              0
Salary Estimate      214
Job Description        0
Rating                34
Company Name           0
Location               0
Headquarters          11
Size                  11
Founded               97
Type of ownership     11
Industry              39
Sector                39
Revenue               11
Competitors          634
dtype: int64

In [46]:
df.select_dtypes(include=['number']).head()

   Unnamed: 0  Rating  Founded
0           0     3.8     1973
1           1     3.4     1984
2           2     4.8     2010
3           3     3.8     1965
4           4     2.9     1998

In [47]:
df.select_dtypes(include=['object']).head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

## to-do 
1. dealing with missing data
2. salary parsing
3. company name text only
4. state field (for both location and hq) and whether job location is in hq
5. company tenure
6. parsing of job description (python, sql, etc..)

### dealing with missing data

In [48]:
# dropping unused columns
df = df.drop('Unnamed: 0', axis = 1)
df = df.drop('Competitors', axis = 1)

In [49]:
# filter only jobs with salary estimate
df = df[df['Salary Estimate'] != '-1']

In [50]:
df.shape

(742, 13)

### salary parsing

In [51]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD)
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD)
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD)
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [52]:
df['Salary Estimate'].head()

0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [53]:
# remove Glassdoor est. 
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [54]:
# remove K and $
minus_kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [89]:
# remove per hour salary and employer provider salary benefit, then remove spacing
minus_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', '').replace(' ',''))

In [92]:
"""
max(minus_hr.apply(lambda x: len(x)))  # find out max len of the column, and filter to check max one
"""
minus_hr[minus_hr.apply(lambda x: len(x) == max(minus_hr.apply(lambda x: len(x))))]

9      120-160
10     126-201
12     106-172
15     102-190
17     118-189
18     110-175
25     109-177
39     115-180
44     110-175
46     110-150
48     150-160
49     158-211
60     120-189
61     111-176
67     107-172
79     139-220
90     100-160
94     106-172
101    117-231
110    102-164
117    200-275
124    121-193
127    120-160
128    102-163
150    112-182
154    113-223
159    118-189
161    120-145
181    124-204
182    131-207
        ...
722    125-210
741    100-135
745    139-221
761    121-203
776    102-178
777    136-208
778    110-130
782    171-272
785    150-239
788    118-228
799    113-182
802    124-199
807    100-173
815    115-220
819    120-145
828    107-172
848    109-200
855    135-211
866    113-196
871    150-238
880    101-141
887    119-187
893    120-140
899    116-208
900    107-173
904    102-172
912    108-171
913    202-306
934    107-173
943    100-140
Name: Salary Estimate, Length: 152, dtype: object

In [96]:
# to find out any other weird data 
minus_hr.apply(lambda x: len(x))

0      5
1      6
2      5
3      5
4      6
5      6
6      5
7      6
8      5
9      7
10     7
11     6
12     7
13     5
14     6
15     7
16     6
17     7
18     7
19     6
20     6
21     6
22     6
23     6
25     7
26     6
27     6
28     5
29     6
30     5
      ..
920    5
921    6
924    6
926    6
928    6
929    5
930    6
931    5
932    5
933    5
934    7
935    5
936    5
938    6
939    5
940    5
941    6
942    5
943    7
944    6
945    6
946    6
947    6
948    6
949    6
950    6
951    6
952    5
953    6
955    6
Name: Salary Estimate, Length: 742, dtype: int64

In [98]:
df['min_salary'] = minus_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = minus_hr.apply(lambda x: int(x.split('-')[1]))

In [108]:
# any missing value? 
sum(df['min_salary'].isna()) == 1 | sum(df['max_salary'].isna()) == 1

False

In [109]:
df['avg_salary'] = df['min_salary'] + df['max_salary'] / 2

In [110]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'min_salary',
       'max_salary', 'avg_salary'],
      dtype='object')

In [114]:
# pd.set_option('display.max_rows', df.shape[0]+1)
pd.set_option('display.max_rows', 10)

In [115]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),53,91,98.5
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),63,112,119.0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),80,90,125.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),56,97,104.5
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,86,143,157.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),58,111,113.5
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),72,133,138.5
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,56,91,101.5
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),95,160,175.0
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),61,126,124.0

### parsing company name

In [128]:
df['Company Name'].apply(lambda x: x[:-4])

0                          Tecolote Research
1      University of Maryland Medical System
2                                    KnowBe4
3                                       PNNL
4                         Affinity Solutions
                       ...
950                                      GSK
951                               Eventbrite
952           Software Engineering Institute
953                             Numeric, LLC
955             Riverside Research Institute
Name: Company Name, Length: 742, dtype: object

In [130]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-4], axis = 1)

In [378]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,job_state,hq_state
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),53,91,98.5,Tecolote Research,NM,CA
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),63,112,119.0,University of Maryland Medical System,MD,MD
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),80,90,125.0,KnowBe4,FL,FL
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),56,97,104.5,PNNL,WA,WA
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,86,143,157.5,Affinity Solutions,NY,NY
5,Data Scientist,$71K-$119K (Glassdoor est.),CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),71,119,130.5,CyrusOne,TX,TX
6,Data Scientist,$54K-$93K (Glassdoor est.),Job Description\n\n**Please only local candida...,4.1,ClearOne Advantage\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,54,93,100.5,ClearOne Advantage,MD,MD
7,Data Scientist,$86K-$142K (Glassdoor est.),Advanced Analytics – Lead Data Scientist\nOver...,3.8,Logic20/20\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),86,142,157.0,Logic20/20,CA,WA
8,Research Scientist,$38K-$84K (Glassdoor est.),SUMMARY\n\nThe Research Scientist I will be ta...,3.3,Rochester Regional Health\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),38,84,80.0,Rochester Regional Health,NY,NY
9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),120,160,200.0,<intent>,NY,NY
10,Data Scientist,$126K-$201K (Glassdoor est.),"At Wish, our Data Science & Engineering team i...",3.5,Wish\n3.5,"San Jose, CA","San Francisco, CA",501 to 1000 employees,2011,Company - Private,Other Retail Stores,Retail,$1 to $2 billion (USD),126,201,226.5,Wish,CA,CA
11,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),64,106,117.0,ManTech,VA,VA
12,Staff Data Scientist - Technology,$106K-$172K (Glassdoor est.),Position Summary...\nDrives the execution of m...,3.2,Walmart\n3.2,"Plano, TX","Bentonville, AR",10000+ employees,1962,Company - Public,"Department, Clothing, & Shoe Stores",Retail,$10+ billion (USD),106,172,192.0,Walmart,TX,AR
13,Data Analyst,$46K-$85K (Glassdoor est.),"Are you an experienced Data Analyst, skilled a...",4.1,Yesler\n4.1,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,46,85,88.5,Yesler,WA,WA
14,Data Scientist,$83K-$144K (Glassdoor est.),Job Description\n\n\nTakeda is looking for a D...,3.7,Takeda Pharmaceuticals\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),83,144,155.0,Takeda Pharmaceuticals,MA,Japan
15,Data Engineer I,$102K-$190K (Glassdoor est.),This opportunity is within Audibles Data Engin...,3.6,Audible\n3.6,"Newark, NJ","Newark, NJ",1001 to 5000 employees,1995,Subsidiary or Business Segment,Motion Picture Production & Distribution,Media,Unknown / Non-Applicable,102,190,197.0,Audible,NJ,NJ
16,"Scientist I/II, Biology",$67K-$137K (Glassdoor est.),"Scientist I/II, Biology\n\nCambridge, MA\n\nBI...",3.9,Blueprint Medicines\n3.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2011,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),67,137,135.5,Blueprint Medicines,MA,MA
17,Customer Data Scientist,$118K-$189K (Glassdoor est.),Company Overview\n\nH2O.ai is the open source ...,4.3,h2o.ai\n4.3,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,118,189,212.5,h2o.ai,CA,CA
18,Data Scientist - Health Data Analytics,$110K-$175K (Glassdoor est.),"At Nuna, our mission is to make high-quality h...",4.2,Nuna\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,110,175,197.5,Nuna,CA,CA
19,Data Scientist,$64K-$111K (Glassdoor est.),"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,Nonprofit Organization,Insurance Carriers,Insurance,$500 million to $1 billion (USD),64,111,119.5,Pinnacol Assurance,CO,CO
20,Data Scientist,$81K-$130K (Glassdoor est.),About Our Team\n\nWe understand that the first...,3.2,Porch\n3.2,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,81,130,146.0,Porch,WA,WA
21,Senior Data Scientist / Machine Learning,$73K-$119K (Glassdoor est.),IMMEDIATE NEED FOR A SENIOR DATA SCIENTIST / M...,3.9,Health IQ\n3.9,"Dallas, TX","Mountain View, CA",201 to 500 employees,2013,Company - Private,Insurance Agencies & Brokerages,Insurance,Unknown / Non-Applicable,73,119,132.5,Health IQ,TX,CA
22,Data Scientist - Quantitative,$86K-$139K (Glassdoor est.),Truckstop.com is hiring a Data Scientist for o...,3.8,Truckstop.com\n3.8,"Chicago, IL","New Plymouth, ID",501 to 1000 employees,1995,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,86,139,155.5,Truckstop.com,IL,ID
23,Data Scientist,$63K-$105K (Glassdoor est.),Position Summary\nOur Data Science team is cur...,4.3,SMC 3\n4.3,"Louisville, KY","Peachtree City, GA",51 to 200 employees,1935,Nonprofit Organization,Logistics & Supply Chain,Transportation & Logistics,$10 to $25 million (USD),63,105,115.5,SMC 3,KY,GA
25,Data Scientist,$109K-$177K (Glassdoor est.),Are you passionate about solving challenging p...,4.0,Novetta\n4.0,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),109,177,197.5,Novetta,VA,VA
26,Digital Health Data Scientist,$63K-$110K (Glassdoor est.),ROLE SUMMARY\n\nThe Digital Health Data Scient...,4.0,Pfizer\n4.0,"Cambridge, MA","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),63,110,118.0,Pfizer,MA,NY
27,Data Scientist,$75K-$124K (Glassdoor est.),As the Enterprise Data and Analytics Center of...,3.5,First Tech Federal Credit Union\n3.5,"Hillsboro, OR","San Jose, CA",1001 to 5000 employees,1952,Company - Private,Banks & Credit Unions,Finance,$100 to $500 million (USD),75,124,137.0,First Tech Federal Credit Union,OR,CA
28,Associate Data Analyst,$34K-$61K (Glassdoor est.),"Friday, January 17, 2020\n\nOur Enterprise Dat...",3.7,The Hanover Insurance Group\n3.7,"Worcester, MA","Worcester, MA",5001 to 10000 employees,1852,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),34,61,64.5,The Hanover Insurance Group,MA,MA
29,Clinical Data Scientist,$63K-$105K (Glassdoor est.),THIS ROLE MUST BE BASED IN SAN DIEGO\n\nAs par...,4.0,Pfizer\n4.0,"Groton, CT","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),63,105,115.5,Pfizer,CT,NY
30,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),80,90,125.0,KnowBe4,FL,FL
31,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),56,97,104.5,PNNL,WA,WA
32,Data Scientist,$72K-$120K (Glassdoor est.),Preferred Qualifications\nMasters degree or do...,3.6,Amrock\n3.6,"Detroit, MI","Detroit, MI",1001 to 5000 employees,1997,Company - Private,Real Estate,Real Estate,$500 million to $1 billion (USD),72,120,132.0,Amrock,MI,MI
33,Data Scientist / Machine Learning Expert,$86K-$143K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.8,Novartis\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),86,143,157.5,Novartis,MA,Switzerland
34,Data Scientist,$93K-$149K (Glassdoor est.),"Title: Software Engineer, Data Science\n\nDesi...",3.8,Juniper Networks\n3.8,"Sunnyvale, CA","Sunnyvale, CA",5001 to 10000 employees,1996,Company - Public,Telecommunications Services,Telecommunications,$2 to $5 billion (USD),93,149,167.5,Juniper Networks,CA,CA
35,Data Scientist,$85K-$140K (Glassdoor est.),New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,85,140,155.0,New England Biolabs,MA,MA
36,Web Data Analyst,$77K-$135K (Glassdoor est.),We are looking for a Web Data Analyst to assis...,4.2,Clarity Insights\n4.2,"San Jose, CA","Chicago, IL",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,77,135,144.5,Clarity Insights,CA,IL
37,Data Scientist,$82K-$132K (Glassdoor est.),Overview\n\n\nAre you passionate about changin...,3.5,Esri\n3.5,"Redlands, CA","Redlands, CA",1001 to 5000 employees,1969,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),82,132,148.0,Esri,CA,CA
38,Data Scientist,$83K-$137K (Glassdoor est.),STR is a government research contractor specia...,4.7,Systems & Technology Research\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),83,137,151.5,Systems & Technology Research,MA,MA
39,Senior Data Scientist,$115K-$180K (Glassdoor est.),"Sartorius Stedim Data Analytics, a market lead...",3.5,Sartorius\n3.5,"Fremont, CA","Gottingen, Germany",5001 to 10000 employees,1870,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),115,180,205.0,Sartorius,CA,Germany
40,Data Engineer,$74K-$138K (Glassdoor est.),Lancer Insurance Company is looking for a Data...,3.5,Lancer Insurance\n3.5,"Long Beach, NY","Long Beach, NY",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),74,138,143.0,Lancer Insurance,NY,NY
41,Data Analyst,$64K-$112K (Glassdoor est.),About the Role:\n\nThe Data Analyst plays a cr...,4.2,Sauce Labs\n4.2,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),64,112,120.0,Sauce Labs,CA,CA
43,Data Engineer,$68K-$129K (Glassdoor est.),Position Title: Data Engineer\n\nPersivia is s...,3.6,Persivia\n3.6,"Marlborough, MA","Lowell, MA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),68,129,132.5,Persivia,MA,MA
44,Data Scientist - Algorithms & Inference,$110K-$175K (Glassdoor est.),"At Nuna, our mission is to make high-quality h...",4.2,Nuna\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,110,175,197.5,Nuna,CA,CA
45,Scientist,$52K-$113K (Glassdoor est.),"We are a global team of 6000 visionaries, doer...",3.4,Edgewell Personal Care\n3.4,"Allendale, NJ","Shelton, CT",5001 to 10000 employees,2015,Company - Public,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD),52,113,108.5,Edgewell Personal Care,NJ,CT
46,Senior Data Scientist,$110K-$150K(Employer est.),"Working for Equity Residential (EQR), a leadin...",4.3,Equity Residential\n4.3,"Chicago, IL","Chicago, IL",1001 to 5000 employees,1993,Company - Public,Real Estate,Real Estate,$2 to $5 billion (USD),110,150,185.0,Equity Residential,IL,IL
48,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,150,160,230.0,BPA Services,DC,VA
49,Lead Data Scientist,$158K-$211K (Glassdoor est.),As the world's leader in digital payments tech...,3.7,Visa Inc.\n3.7,"Bellevue, WA","Foster City, CA",10000+ employees,1958,Company - Public,IT Services,Information Technology,$10+ billion (USD),158,211,263.5,Visa Inc.,WA,CA
50,Associate Data Analyst,$20K-$39K (Glassdoor est.),Intrado is looking for an Associate Data Analy...,3.1,Intrado\n3.1,"Longmont, CO","Omaha, NE",5001 to 10000 employees,1986,Company - Private,Enterprise Software & Network Solutions,Information Technology,$2 to $5 billion (USD),20,39,39.5,Intrado,CO,NE
51,Spectral Scientist/Engineer,$56K-$117K (Glassdoor est.),Thank you for your interest in joining the Cen...,4.7,Centauri\n4.7,"Beavercreek, OH","Chantilly, VA",501 to 1000 employees,1999,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),56,117,114.5,Centauri,OH,VA
52,College Hire - Data Scientist - Open to Decemb...,$63K-$99K (Glassdoor est.),Description\n\nCaterpillar's legacy of industr...,3.7,Caterpillar\n3.7,"Peoria, IL","Deerfield, IL",10000+ employees,1925,Company - Public,Industrial Manufacturing,Manufacturing,$10+ billion (USD),63,99,112.5,Caterpillar,IL,IL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,Jr. Data Scientist,$81K-$132K (Glassdoor est.),MITRE\nis a trusted operator of federally fund...,3.2,MITRE\n3.2,"McLean, VA","Bedford, MA",5001 to 10000 employees,1958,Nonprofit Organization,Federal Agencies,Government,$1 to $2 billion (USD),81,132,147.0,MITRE,VA,MA
893,Senior Data Scientist,Employer Provided Salary:$120K-$140K,"SkySync is a dynamic, fast-paced, venture-back...",5.0,SkySync\n5.0,"Ann Arbor, MI","Ann Arbor, MI",51 to 200 employees,2011,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,120,140,190.0,SkySync,MI,MI
895,Products Data Analyst II,$90K-$157K (Glassdoor est.),TriNet is a leading provider of comprehensive ...,3.3,TriNet\n3.3,"Dublin, CA","Dublin, CA",1001 to 5000 employees,1988,Company - Public,Consulting,Business Services,$2 to $5 billion (USD),90,157,168.5,TriNet,CA,CA
896,Data Architect / Data Modeler,$63K-$110K (Glassdoor est.),Medidata: Conquering Diseases Together\n\nMedi...,4.3,Medidata Solutions\n4.3,"New York, NY","New York, NY",1001 to 5000 employees,1999,Company - Public,Enterprise Software & Network Solutions,Information Technology,$500 million to $1 billion (USD),63,110,118.0,Medidata Solutions,NY,NY
897,Analytics Manager - Data Mart,$42K-$86K (Glassdoor est.),We have an opportunity to join the Alliance as...,3.5,Central California Alliance for Health\n3.5,"Scotts Valley, CA","Scotts Valley, CA",501 to 1000 employees,1996,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),42,86,85.0,Central California Alliance for Health,CA,CA
898,Lead Data Analyst,$32K-$62K (Glassdoor est.),JOB DESCRIPTION:\n\nSignpost is looking for a ...,3.9,Signpost\n3.9,"New York, NY","New York, NY",201 to 500 employees,2010,Company - Private,Internet,Information Technology,$10 to $25 million (USD),32,62,63.0,Signpost,NY,NY
899,Data Science Engineer - Mobile,$116K-$208K (Glassdoor est.),Mobile is a top strategic priority for Adobe. ...,4.0,Adobe\n4.0,"San Jose, CA","San Jose, CA",10000+ employees,1982,Company - Public,Computer Hardware & Software,Information Technology,$5 to $10 billion (USD),116,208,220.0,Adobe,CA,CA
900,Senior Data Scientist Oncology,$107K-$173K (Glassdoor est.),At AstraZeneca we are constantly pushing the b...,3.9,AstraZeneca\n3.9,"Gaithersburg, MD","Cambridge, United Kingdom",10000+ employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),107,173,193.5,AstraZeneca,MD,UnitedKingdom
901,Data Scientist,$65K-$113K (Glassdoor est.),DatamanUSA has an exciting opportunity for a D...,3.4,"DatamanUSA, LLC\n3.4","Olympia, WA","Centennial, CO",51 to 200 employees,-1,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),65,113,121.5,"DatamanUSA, LLC",WA,CO
902,Sr. Data Engineer - Contract-to-Hire (Java),$69K-$127K (Glassdoor est.),As we strive to make a better day for our gues...,3.0,Pilot Flying J Travel Centers LLC\n3.0,"Knoxville, TN","Knoxville, TN",10000+ employees,1958,Company - Private,Gas Stations,Retail,$10+ billion (USD),69,127,132.5,Pilot Flying J Travel Centers LLC,TN,TN
904,Senior Data Scientist - R&D Oncology,$102K-$172K (Glassdoor est.),"At AstraZeneca,we work together to deliver inn...",3.9,AstraZeneca\n3.9,"New York, NY","Cambridge, United Kingdom",10000+ employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),102,172,188.0,AstraZeneca,NY,UnitedKingdom
907,Data Engineer,$74K-$124K (Glassdoor est.),"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,Nonprofit Organization,Insurance Carriers,Insurance,$500 million to $1 billion (USD),74,124,136.0,Pinnacol Assurance,CO,CO
909,Food Scientist - Developer,$40K-$68K (Glassdoor est.),Palermo Villa Inc. is interested in a high-ene...,3.3,Palermo's Pizza\n3.3,"Milwaukee, WI","Milwaukee, WI",501 to 1000 employees,1964,Company - Private,Food & Beverage Manufacturing,Manufacturing,Unknown / Non-Applicable,40,68,74.0,Palermo's Pizza,WI,WI
910,Senior Data Engineer,$76K-$142K (Glassdoor est.),Sr. Data Engineer FTE for Franklin\n\nThere ar...,3.2,Equian LLC\n3.2,"Franklin, TN","Indianapolis, IN",1001 to 5000 employees,2004,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,76,142,147.0,Equian LLC,TN,IN
911,Data Engineer,$76K-$142K (Glassdoor est.),MetroStar Systems is looking for a Data Engine...,3.4,MetroStar Systems\n3.4,"Rockville, MD","Reston, VA",201 to 500 employees,1999,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),76,142,147.0,MetroStar Systems,MD,VA

### state field (for both location and hq) and whether same state and same location

due to the fact that 'headquarters' would take some time to clean up the state, and there's not too much reason to extract it, will forgo this for now, and focus on state field from location, and whether state field is the same as 'headquarters'

####  job_state

In [375]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1].replace(' ',''))

# most job_state has length of 2, check if theres any outlier
x = df['job_state'][df['job_state'].apply(lambda x: len(x) > 2)].tolist()

In [376]:
df.loc[df['job_state'].isin(x)][['Location', 'job_state']]

                              Location   job_state
145  Santa Fe Springs, Los Angeles, CA  LosAngeles

In [377]:
df.loc[df['job_state'].isin(x)]['Location'].tolist()[0].split(',')[2].replace(' ','')

'CA'

In [183]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,job_state
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),53,91,98.5,Tecolote Research,NM
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),63,112,119.0,University of Maryland Medical System,MD
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),80,90,125.0,KnowBe4,FL
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),56,97,104.5,PNNL,WA
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,86,143,157.5,Affinity Solutions,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),58,111,113.5,GSK,MA
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),72,133,138.5,Eventbrite,TN
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,56,91,101.5,Software Engineering Institute,PA
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),95,160,175.0,"Numeric, LLC",PA
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),61,126,124.0,Riverside Research Institute,OH

In [226]:
# most job_state has length of 2, check if theres any outlier
x = df['job_state'][df['job_state'].apply(lambda x: len(x) > 2)].tolist()

df.loc[df['job_state'].isin(x)][['Location', 'job_state']]

In [290]:
df.loc[df['job_state'].isin(x)][['Location', 'job_state']]

                              Location   job_state
145  Santa Fe Springs, Los Angeles, CA  LosAngeles

In [289]:
df.loc[df['job_state'].isin(x)]['Location'].tolist()[0].split(',')[2].replace(' ','')

'CA'

In [291]:
# replace 'LosAngeles with CA manually'
df.loc[(145), 'job_state'] = df.loc[df['job_state'].isin(x)]['Location'].tolist()[0].split(',')[2].replace(' ','')

In [309]:
df.loc[145,['Location', 'job_state']]

Location     Santa Fe Springs, Los Angeles, CA
job_state                                   CA
Name: 145, dtype: object

In [310]:
# no more outlier
df['job_state'][df['job_state'].apply(lambda x: len(x) > 2)].tolist()

[]

In [341]:
pd.set_option('display.max_rows', 40)
print(df['job_state'].value_counts())
pd.set_option('display.max_rows', 10)

CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
NC     21
WA     21
NJ     17
FL     16
OH     14
TN     13
DC     11
CO     11
UT     10
IN     10
WI     10
MO      9
AZ      9
AL      8
MI      6
DE      6
KY      6
GA      6
IA      5
CT      5
NE      4
LA      4
OR      4
KS      3
NM      3
MN      2
ID      2
SC      1
RI      1
Name: job_state, dtype: int64

In [342]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,job_state
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),53,91,98.5,Tecolote Research,NM
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),63,112,119.0,University of Maryland Medical System,MD
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),80,90,125.0,KnowBe4,FL
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),56,97,104.5,PNNL,WA
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,86,143,157.5,Affinity Solutions,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),58,111,113.5,GSK,MA
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),72,133,138.5,Eventbrite,TN
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,56,91,101.5,Software Engineering Institute,PA
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),95,160,175.0,"Numeric, LLC",PA
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),61,126,124.0,Riverside Research Institute,OH

#### hq_state

In [354]:
# one record is not in hq
# [k for k in df['Headquarters'] if ',' not in k]

# df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-4], axis = 1)

# df['hq_state'] = df.apply(lambda x: x['Headquarters'].split(',')[1].replace(' ','') if x['Headquarters'] != '-1' else '-1', axis = 1)

# df['hq_state'].value_counts()

['-1']

In [374]:
# df.loc[df['hq_state'].apply(lambda x: len(x) > 2),['Location', 'Headquarters', 'hq_state']]

              Location               Headquarters       hq_state
14       Cambridge, MA               OSAKA, Japan          Japan
33       Cambridge, MA         Basel, Switzerland    Switzerland
39         Fremont, CA         Gottingen, Germany        Germany
57          Armonk, NY        Zurich, Switzerland    Switzerland
59     Albuquerque, NM         Gottingen, Germany        Germany
82      Pittsburgh, PA  Louvain-la-Neuve, Belgium        Belgium
87        San Jose, CA             Beijing, China          China
126      Cambridge, MA               OSAKA, Japan          Japan
157       New York, NY     London, United Kingdom  UnitedKingdom
185         Boston, MA               OSAKA, Japan          Japan
204      San Diego, CA               OSAKA, Japan          Japan
206         Boston, MA               OSAKA, Japan          Japan
210         Boston, MA               OSAKA, Japan          Japan
211       New York, NY          Hamilton, Bermuda        Bermuda
264      San Mateo, CA         Seoul, South Korea     SouthKorea
273         Boston, MA               OSAKA, Japan          Japan
322      San Diego, CA               OSAKA, Japan          Japan
324         Boston, MA               OSAKA, Japan          Japan
335         Boston, MA               OSAKA, Japan          Japan
339       New York, NY          Hamilton, Bermuda        Bermuda
341      San Ramon, CA              Mumbai, India          India
358         Armonk, NY        Zurich, Switzerland    Switzerland
362      Cambridge, MA               OSAKA, Japan          Japan
372      Cambridge, MA         Basel, Switzerland    Switzerland
380      Cambridge, MA         Basel, Switzerland    Switzerland
420       Hartford, CT           Bengaluru, India          India
433      Cambridge, MA               OSAKA, Japan          Japan
446       New York, NY  Cambridge, United Kingdom  UnitedKingdom
491         Boston, MA              Madrid, Spain          Spain
498         Boston, MA     London, United Kingdom  UnitedKingdom
540    Albuquerque, NM         Gottingen, Germany        Germany
582       New York, NY     London, United Kingdom  UnitedKingdom
583       New York, NY               Noida, India          India
590       New York, NY              Paris, France         France
613       Hartford, CT           Bengaluru, India          India
623   Gaithersburg, MD  Cambridge, United Kingdom  UnitedKingdom
638   Gaithersburg, MD  Cambridge, United Kingdom  UnitedKingdom
644      Cambridge, MA               OSAKA, Japan          Japan
655    Aliso Viejo, CA         Seoul, South Korea     SouthKorea
658      Cambridge, MA  Brentford, United Kingdom  UnitedKingdom
665       New York, NY  Cambridge, United Kingdom  UnitedKingdom
668         Armonk, NY        Zurich, Switzerland    Switzerland
669         Arvada, CO         Gottingen, Germany        Germany
678      Cambridge, MA         Basel, Switzerland    Switzerland
707      Cambridge, MA  Brentford, United Kingdom  UnitedKingdom
732      Cambridge, MA         Basel, Switzerland    Switzerland
737      Cambridge, MA         Basel, Switzerland    Switzerland
740         Boston, MA              Madrid, Spain          Spain
749         Boston, MA     London, United Kingdom  UnitedKingdom
799   Gaithersburg, MD  Cambridge, United Kingdom  UnitedKingdom
830       Hartford, CT           Bengaluru, India          India
831   Gaithersburg, MD  Cambridge, United Kingdom  UnitedKingdom
858   Gaithersburg, MD  Cambridge, United Kingdom  UnitedKingdom
866      Cambridge, MA               OSAKA, Japan          Japan
883    Aliso Viejo, CA         Seoul, South Korea     SouthKorea
884  San Francisco, CA              Paris, France         France
886      Cambridge, MA  Brentford, United Kingdom  UnitedKingdom
900   Gaithersburg, MD  Cambridge, United Kingdom  UnitedKingdom
904       New York, NY  Cambridge, United Kingdom  UnitedKingdom
916      Cambridge, MA         Basel, Switzerland    Switzerland
950      Cambridge, MA  Brentford, United Kingdom  UnitedKingdom

#### whether location = hq

In [379]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'min_salary',
       'max_salary', 'avg_salary', 'company_txt', 'job_state', 'hq_state'],
      dtype='object')

In [382]:
df['is_loc_hq'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis = 1)

### company tenure

In [388]:
# getting current year
current_year = date.today().year

In [395]:
# getting current year
current_year = date.today().year

df['comp_age'] = df.apply(lambda x: current_year - x['Founded'] if x['Founded'] > 0 else x['Founded'], axis = 1)

In [401]:
df['comp_age'].value_counts(sort = True)

-1      50
 11     32
 13     31
 25     27
 15     24
 9      21
 10     19
 63     18
 19     18
 37     18
 14     18
 6      16
 8      15
 170    14
 146    14
 24     14
 240    14
 7      13
 56     12
 22     12
 4      12
 86     10
 21     10
 109    10
 18     10
 16     10
 108     9
 39      9
 40      9
 60      9
 26      8
 32      8
 44      8
 45      8
 53      8
 52      8
 82      8
 33      7
 172     7
 29      7
 12      6
 73      6
 17      6
 151     6
 35      6
 28      6
 55      5
 5       5
 48      5
 54      5
        ..
 106     4
 27      4
 57      4
 191     4
 30      4
 99      3
 20      3
 23      3
 78      3
 43      3
 136     3
 158     3
 31      3
 51      3
 84      3
 74      3
 49      3
 165     2
 175     2
 2       2
 34      2
 47      2
 70      2
 38      2
 46      2
 69      2
 67      2
 41      2
 59      2
 93      2
 92      1
 50      1
 76      1
 91      1
 171     1
 161     1
 209     1
 79      1
 143     1
 36      1
 138     1
 94      1
 42      1
 134     1
 132     1
 122     1
 119     1
 107     1
 104     1
 277     1
Name: comp_age, Length: 102, dtype: int64

### job description parsing

In [416]:
df['Job Description'][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [429]:
lst = ['Remarkable', 'R, and others', 'red', 'honourable mention', 'r', 'weka,R,python']
string = ' '.join(lst)

In [430]:
for i in lst:
    if re.findall(pattern, i)

'Remarkable R, and others red honourable mention r weka,R,python'

In [432]:
pattern = 'R'

re.findall